name: Build documentation

on:
  pull_request:
    branches: [master]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Build the documentation
        run: |
          pip install -r docs-requirements.txt
          pip install ./
          mkdocs build