name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install python3
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.10
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install ./src/
          pip list
      - name: download model
        run: |
          wget https://raw.githubusercontent.com/CogStack/MedCAT/master/tutorial/data/pt_notes.csv -P ./tests/data/
          python -m spacy download en_core_web_md
      - name: run pytest
        run: pytest ./tests/*
