name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL: True

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install python3
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.10
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install ./src/
          pip list
      - name: download model
        run: |
          python -m spacy download en_core_web_md
          pip install https://huggingface.co/kormilitzin/en_core_med7_lg/resolve/9633b53e7f9488408eae5dfff51b831b3b787657/en_core_med7_lg-any-py3-none-any.whl
      - name: run pytest
        run: pytest ./tests/*
